:root {
  font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
#root {
  width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  max-width: 768px;
  min-width: 320px;
  min-height: 100vh;

  margin: 0 auto;
}
